/*PORTFOLIO CSS*/
/**************** General ****************/
:root {
    --main-bg-color: #C2C0C4;
    --card-bg-color: #FAFBFC;
    --main-text-color: #161925;
    --nav-bg-color: #C2C0C4 ;
    --contrast-text-color: #FAFBFC;
    --link-text-color: #2D32B1;
    --link-text-hover-color: #21258D;
    --link-text-visited: #2D32B1;
    --link-text-active: red;
    --hover-icon-color: #ACADC9;
    --hover-text-color: #acadc996;
    --font-title-bold: "CabinBold";
    --font-title-regular: "CabinRegular";
    --font-text-regular: "CourierPrime";
  }
/*fonts*/
@font-face {
    font-family: "CabinBold";
    src: url('./Media/fonts/CabinCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CabinRegular";
    src: url('./Media/fonts/CabinCondensed-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CourierPrime";
    src: url('./Media/fonts/CourierPrime-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*page structure*/
body {
    margin: 0px;
    background-color:var(--main-bg-color);
    }
.page {
    background:var(--main-bg-color);
    padding-bottom: 0.2%;
    padding-top: 30px;
}
/********************************** MENU******************************/
/*** Nav Bar ******/
/*fixed position*/
.headermenu {
    background-color:var(--nav-bg-color);
    position: fixed;
    top: 0;
    width: -moz-available;
}
.navlist {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--nav-bg-color);
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2rem;
}   
li {
    float: left;
} 
.link {
    display: block;
    color:var(--link-text-color);
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-family: var(--font-title-bold);
}
.link:hover {
    color: var(--link-text-hover-color);
    background-color: var(--hover-icon-color);
}
.navbar {
    border-bottom: 5px solid var(--link-text-color);
}
/*Hamburger menu*/
.menu {
    display: none;
  }
#hamburgermenu {
    display: none;
}
/****************************** Main *************************/
html {    
    scroll-padding-top: 100px;
}
.mainpage, .pagepart  {
    background: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}
.mainpage {
    padding-top: 20px;
}
.card {
    background: var(--card-bg-color);
    padding: 10px;
    border-right: 5px solid var(--link-text-color);
    border-bottom: 10px solid var(--link-text-color);
}
.title {
    font-family: var(--font-title-bold);
    font-size: 10rem;
    word-break: break-word;
    margin: 0px;
    line-height: 8rem;
    color: var(--link-text-color);
}
.pic {
    font-family: var(--font-text-regular);
    color: var(--main-text-color);
    font-size: 0.8rem;
}
.text {
    font-family: var(--font-text-regular);
    color: var(--main-text-color);
}
.indextext {
    font-family: var(--font-text-regular);
    color: var(--main-text-color);
}
.language {
    list-style-type: upper-roman;
}
.project {
    list-style-position: inside;
    color: var(--link-text-color);
    list-style-type: lower-roman;
    padding: 2px;
    margin: 3px;
}
a {
    text-decoration:none;
}
.linkproject:visited{
    color:var(--link-text-visited);
}
.project:hover {
    color: var(--link-text-hover-color);
    background-color: var(--hover-text-color);
    border-radius: 5px;
    padding: 2px;
    margin: 3px;
}
.project:active, .linkproject:active  {
    color: var(--link-text-active);
}
.projectlanguage {
    font-family: var(--font-title-regular);
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-weight: bold;
}
.subtitle {
    font-family: var(--font-title-bold);
    color: var(--link-text-color);
    font-size: 2.5rem;
    margin: 0px;
    line-height: 2.2rem;
}
/**************************** footer **********************/
.socialmedia {
    text-align: center;
    font-family: var(--font-title-bold);
    color: var(--link-text-color);
}
.icon:hover {
    background-color: var(--hover-icon-color);
    border-radius: 5px;
}
.allrights {
    text-align: center;
    font-family: var(--font-text-regular);
    color: var(--main-text-color);
    padding: 10px;
    margin: 0px;
    font-size: 0.8rem;
}
.icon {
    width: 50px;
}
/**********************************  MEDIA ***************************/
/*Media Querries hamburger menu*/
@media only screen and (max-width: 1297px){
    .navbar {
        position: relative;
        display: inline-block;
    }
    .hamburgermenu {
        display: none; 
    }
    .menu {
        cursor: pointer;
        font-size: 2rem;
        display: block;
        color:var(--link-text-color);
        font-family: var(--font-title-bold);
        margin-left: 15px;
    }
    .menu:hover{
        color: var(--link-text-hover-color);
    }
    .navlist {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none; 
        position: absolute;
        top: 40px; 
        left: 0;
        z-index: 1;
    }
    .hamburgermenu:checked + .menu + .navlist {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .navlist li {
        text-align: left; 
    }
    .navlist li a {
        text-decoration: none;
        padding: 10px;
        display: block;
        text-align: left;
        margin-left: 15px;
        font-size: 2rem;
        border: 5px solid;   
    }
    .headermenu {
        padding-top: 10px;
        width: 100%;
        left: 0;
    }
}
/*media main*/
@media only screen and (max-width: 800px){
.card {
    width: auto;
    margin-right: auto;
    margin-left: auto;
}
.mainpage{
    flex-wrap: wrap;
}
.socialmedia {
    width: fit-content;
    margin: auto;
}
.headermenu {
    padding-top: 0px;
}
}
@media only screen and (min-width:410px) and (max-width: 980px){
    .title{
        font-size: 8rem;
        line-height: 6.5rem;
    }
}
@media only screen and (min-width:310px) and (max-width: 409px){
    .title{
        font-size: 6rem;
        line-height: 5rem;
    }
}
@media only screen and (max-width:309px) {
    .title{
        font-size: 4rem;
        line-height: 3.5rem;
    }
}
@media only screen and (min-width: 800px){
    .mainpage {
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        }
    #portfolio {
        max-width: 60%;
    }          
}